.background {
    -fx-background-image: url("../photos/backgrounds/map.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1280 720;
}

.gold {
    -fx-image: url("../photos/gameIcons/Gold.png");
}
.production {
    -fx-image: url("../photos/gameIcons/Production.png");
}
.happiness {
    -fx-image: url("../photos/gameIcons/Happiness.png");
}
.food {
    -fx-image: url("../photos/gameIcons/Food.png");
}
.population {
    -fx-image: url("../photos/gameIcons/Population.png");
}
.science {
    -fx-image: url("../photos/gameIcons/Science.png");
}
.turn {
    -fx-image: url("../photos/gameIcons/Turn.png");
}
.city {
    -fx-image: url("../photos/gameIcons/panelsIcons/Cities.png");
}
.unit {
    -fx-image: url("../photos/gameIcons/panelsIcons/unit.png");
}
.menuIcon {
    -fx-image: url("../photos/gameIcons/panelsIcons/MenuIcon.png");
}
.military {
    -fx-image: url("../photos/gameIcons/panelsIcons/Military.png");
}
.demographic {
    -fx-image: url("../photos/gameIcons/panelsIcons/demographic.png");
}
.diplomacy {
    -fx-image: url("../photos/gameIcons/panelsIcons/Diplomacy.png");
}
.notification {
    -fx-image: url("../photos/gameIcons/panelsIcons/notification.png");
}
.economic {
    -fx-image: url("../photos/gameIcons/panelsIcons/economic.png");
}
.Circle {
    -fx-fill: black;
}
.whiteCircle {
    -fx-fill: #ffffff;
}
.brownCircle {
    -fx-fill: #4f2929;
}
.blueCircle {
    -fx-fill: #0009ff;
}
.blueCircle:hover{
    -fx-fill: #00049f;
}
.whiteCircle {
    -fx-fill: #ffffff;
}
.text {
    -fx-font-size: 20;
    -fx-text-fill: #673434;
}
.Label {
    -fx-text-fill: white;
    -fx-background-color: #673434;
    -fx-border-width: 3;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-background-radius: 8;
}