.background {
    -fx-background-image: url("../photos/backgrounds/welcomePage.png"); /*by wallpaper cave.com*/
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.label {
    -fx-font-size: 25;
    -fx-text-fill: black;
}

.welcome {
    -fx-image: url("../photos/backgrounds/icons/welcomeText.png"); /*by pngImg.com*/
    -fx-background-repeat: no-repeat;
    -fx-background-size: 150 100;
}

.Button {
    -fx-background-color: #011ec0;
    -fx-pref-width: 175;
    -fx-text-fill: #dadada;
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-radius: 5;
}
.Button:hover {
    -fx-background-color: #0154c0;
    -fx-pref-width: 175;
    -fx-text-fill: #dadada;
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-radius: 5;
}

.text {
    -fx-font-size: 35;
}