.background {
    -fx-background-image: url("../photos/backgrounds/loginPage.png"); /*by www.britannica.com*/
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1280 720;
}
.Label {
    -fx-background-color: #ff7300;
    -fx-text-fill: #690404;
    -fx-font-size: 30;
    -fx-border-width: 5;
    -fx-border-color: black;
    -fx-pref-width: 300;
    -fx-alignment: center;
    -fx-pref-height: 70;
    -fx-border-radius: 5;
    -fx-background-radius: 8;
}

.frontBackground {
    -fx-background-color: rgba(255, 115, 0, 0.62);
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-max-height: 400;
    -fx-border-radius: 200;
    -fx-background-radius: 200;
}

.subLabel {
    -fx-font-size: 20;
    -fx-text-fill: #ffffff;
}

.Box {
    -fx-background-color: rgb(255, 77, 0);
    -fx-border-color: #ffffff;
    -fx-border-radius: 4;
    -fx-background-radius: 6;
    -fx-pref-height: 40;
    -fx-border-width: 3;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.73);
    -fx-text-fill: white;
}

.Button {
    -fx-max-width: 150;
    -fx-max-height: 45;
    -fx-background-color: #ff7300;
    -fx-border-width: 3;
    -fx-border-color: #ffffff;
    -fx-border-radius: 4;
    -fx-background-radius: 6;
    -fx-font-size: 20;
    -fx-text-fill: white;
}
.Button:hover {
    -fx-max-width: 150;
    -fx-max-height: 45;
    -fx-background-color: #ff4d00;
    -fx-border-width: 3;
    -fx-border-color: #ffffff;
    -fx-border-radius: 4;
    -fx-background-radius: 6;
    -fx-text-fill: white;
}
.link{
    -fx-text-fill: rgba(0, 42, 255, 0.84);
}
.link:hover{
    -fx-text-fill: rgb(0, 146, 255);
}