.background {
    -fx-background-image: url("../photos/backgrounds/panels.jpg"); /*by www.reddit.com*/
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1280 720;
}
.Circle {
    -fx-fill: #0800ff;
    -fx-stroke: black;
    -fx-stroke-width: 3;
}
.text {
    -fx-font-size: 25;
    -fx-fill: white;
}
.backgroundRec {
    -fx-stroke-width: 3;
    -fx-stroke: black;
    -fx-fill: #0800ff;
    -fx-arc-height: 20;
    -fx-arc-width: 20;
}